*{
    box-sizing: border-box;
    margin: 0;
}

.section-about {
    background: #fff;
    padding-top: 50px;
    height: 500px;
    width: 100%;
}

.title-about {
    margin-left: 5%;
    display: inline-block;
}

.title-name {
    margin-left: 5px;
    color:  #cd0909;
    font-weight: bold;
    display: inline-block;
}

