@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    font-family: "Inter", sans-serif;
}

.section-about {
    background: #fff;
    padding-top: 50px;
    height: 500px;
    width: 100%;
}

.title-about {
    margin-left: 5%;
    display: inline-block;
}

.title-name {
    margin-left: 5px;
    color:  #cd0909;
    font-weight: bold;
    display: inline-block;
}

.about-text {
    margin-top: 50px;
    text-align: justify;
    margin-left: 8%;
    margin-right: 50%;
}

